version: '3.8'
services:
  vllm:
    build:
      context: .
      dockerfile: docker/Dockerfile.vllm
    environment:
      - RAY_BACKEND=log
      - ENVIRONMENT=STAGE
      - GPU_AVAILABLE=true
      - VLLM_CPU_KV_CACHE_SPACE=4096
    working_dir: /app
    command: uvicorn api.main:app --host
volumes:
  batch_storage:
    driver: local